<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Stock Profit Calculator</title>
</head>
<body>
<div class ="container-fluid">
    <div style="padding-left: 20%;" class = "row">
        <div class = "col-lg-12 col-md-12 col-xs-12">
            <h1>Stock Profit Calculator</h1>
        </div>
    </div>
    <div style="padding-left: 20%;" class = "row">
        <div class = "col-lg-12 col-md-12 col-xs-12">
            <h3>Please fill in the information below</h3>
        </div>
    </div>
    <div class = "row">
        <form method="POST" class="post-form">{% csrf_token %}
            {% for item in form %}
                <div class=" row">
                    <div class="col-md-3 col-xs-3 text-right">
                        <span>{{ item.label }}</span>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        {{item}}
                        <span> {{ item.help_text }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                </br>
                <div class="col-md-10 col-xs-10 text-center">
            <button type="submit" class="save btn btn-default">Submit</button>
                    </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
